.fondo {
    background-image: url('C:\Users\sebav\Desktop\4Geeks\blog-pokemon\public\img\fondo.jpg');
}

.card-hover {
    transition: all .25s ease;
}

.card-hover:hover {
    transform: translateY(-4px) scale(1.01);
}